body {
  background-color: #334257;
}
form {
  color: white;
  padding: 1% 6% 3% 18%;

}
/* color:c4c4c4; */
#inputMessage {
  height: 20vh;
  background-color: #c4c4c4;
}
#aob {
  height: 10vh;
  background-color: #c4c4c4;
}
#btn {
  background-color: #c4c4c4;
  border-radius: 25px;
}
#inputName,
#inputEmail,
#firstName {
    background-color:#c4c4c4 ;
    height: 6vh;
}
