.about{
    background-image: url(./homeimages/cocktaillll.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info{
    float: right;
    padding-top: 120px;
    font-size: larger;
    padding-right: 100px;
}
.explore{
    border-radius: 15px;
    background-color: coral;
}

.trending{
    background-color: #334257;
    height: 400px;
   
}

.trending h2{
    text-align: center;
    padding-top: 40px;
    color: white;
}

.trendingCocktails{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.cocktails{
    margin: 10px;
}

.toasted{
  background-image: url(./homeimages/cockkkkkk.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info2{
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: large;
}

#contact {
    color: black;
    background-color: #334257;
    
}

#contactdetails h2 {
    text-align: center;
}

.col-md-4 {
    text-align: center;
}

#contact-us {
    color: white;
    text-align: center;
    padding-top: 30px;
}

#copyright {
    color: white;
    font-size: 15px;
}