body{background-color: #334257;}
.section-1{
   background-image: url(pics/back.jpeg);
    height: 35rem;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
#image{
    height: 7rem;
}
.section-2{
    height: auto;

}
.align-center{
    text-align: center;
}
#heading{
    padding-top: 1rem;
   font-weight: bold;
}
.pic{
    height: 25rem;
    padding: 0 6rem;
}
.sweet{
    float: right;
    padding-top: 9rem;
    
}
.bitter-img{ 
    float: right;
    margin-top: -37rem;
    padding: 0rem 17rem;
}
.bitter{
    padding: 5rem 4rem;
   
}
.mix{
    float: right;
    padding-top: 17rem;
    padding: 0rem 8rem;

}
.picc{

    height: 25rem;
    padding: 0 1rem;
}
.section-3{
    height: auto;
    text-align: center;
   background-color: #c4c4c4;
}
.imggg{
   margin: 1rem;
   flex-wrap: wrap;
}